openapi: 3.0.1
info:
  title: Selling Partner API for Finances
  description: "The Selling Partner API for Finances helps you obtain financial information\
    \ relevant to a seller's business. You can obtain financial events for a given\
    \ order, financial event group, or date range without having to wait until a statement\
    \ period closes. You can also obtain financial event groups for a given date range."
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v0
servers:
- url: https://sellingpartnerapi-na.amazon.com/
paths:
  /finances/v0/financialEventGroups:
    get:
      description: |-
        Returns financial event groups for a given date range.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 0.5 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: listFinancialEventGroups
      parameters:
      - name: MaxResultsPerPage
        in: query
        description: "The maximum number of results to return per page. If the response\
          \ exceeds the maximum number of transactions or 10 MB, the API responds\
          \ with 'InvalidInput'."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: FinancialEventGroupStartedBefore
        in: query
        description: "A date used for selecting financial event groups that opened\
          \ before (but not at) a specified date and time, in ISO 8601 format. The\
          \ date-time  must be later than FinancialEventGroupStartedAfter and no later\
          \ than two minutes before the request was submitted. If FinancialEventGroupStartedAfter\
          \ and FinancialEventGroupStartedBefore are more than 180 days apart, no\
          \ financial event groups are returned."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: FinancialEventGroupStartedAfter
        in: query
        description: "A date used for selecting financial event groups that opened\
          \ after (or at) a specified date and time, in ISO 8601 format. The date-time\
          \ must be no later than two minutes before the request was submitted."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MaxResultsPerPage:
                    value: 1
                  FinancialEventGroupStartedBefore:
                    value: 2019-10-31
                  FinancialEventGroupStartedAfter:
                    value: 2019-10-13
              response:
                payload:
                  NextToken: "3493805734095308457308475"
                  FinancialEventGroupList:
                  - FinancialEventGroupId: "1"
                    ProcessingStatus: PROCESSED
                    FundTransferStatus: TRANSFERED
                    OriginalTotal:
                      CurrencyCode: USD
                      CurrencyAmount: 10.34
                    ConvertedTotal:
                      CurrencyCode: USD
                      CurrencyAmount: 39.43
                    FundTransferDate: 2020-02-07T14:38:42.128Z
                    TraceId: "34550454504545"
                    AccountTail: "4854564857"
                    BeginningBalance:
                      CurrencyCode: USD
                      CurrencyAmount: 55.33
                    FinancialEventGroupStart: 2020-02-07T14:38:42.128Z
                    FinancialEventGroupEnd: 2020-02-07T14:38:42.128Z
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MaxResultsPerPage:
                    value: 10
              response:
                errors:
                - code: InvalidInput
                  message: Date range is invalid.
        "403":
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
        "500":
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventGroupsResponse'
  /finances/v0/financialEventGroups/{eventGroupId}/financialEvents:
    get:
      description: |-
        Returns all financial events for the specified financial event group.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 0.5 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: listFinancialEventsByGroupId
      parameters:
      - name: MaxResultsPerPage
        in: query
        description: "The maximum number of results to return per page. If the response\
          \ exceeds the maximum number of transactions or 10 MB, the API responds\
          \ with 'InvalidInput'."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: PostedAfter
        in: query
        description: "A date used for selecting financial events posted after (or\
          \ at) a specified time. The date-time **must** be more than two minutes\
          \ before the time of the request, in ISO 8601 date time format."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: PostedBefore
        in: query
        description: "A date used for selecting financial events posted before (but\
          \ not at) a specified time. The date-time must be later than `PostedAfter`\
          \ and no later than two minutes before the request was submitted, in ISO\
          \ 8601 date time format. If `PostedAfter` and `PostedBefore` are more than\
          \ 180 days apart, no financial events are returned. You must specify the\
          \ `PostedAfter` parameter if you specify the `PostedBefore` parameter. Default:\
          \ Now minus two minutes."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: eventGroupId
        in: path
        description: The identifier of the financial event group to which the events
          belong.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MaxResultsPerPage:
                    value: 10
                  eventGroupId:
                    value: "485734534857"
              response:
                payload:
                  NextToken: Next token value
                  FinancialEvents:
                    ChargebackEventList:
                    - AmazonOrderId: 444-555-3343433
                      SellerOrderId: "454645645656456"
                      MarketplaceName: "1"
                      OrderChargeList:
                      - ChargeType: Tax
                        ChargeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      OrderChargeAdjustmentList:
                      - ChargeType: Tax
                        ChargeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      ShipmentFeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      ShipmentFeeAdjustmentList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      OrderFeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      OrderFeeAdjustmentList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      DirectPaymentList:
                      - DirectPaymentType: StoredValueCardRevenue
                        DirectPaymentAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      PostedDate: 2020-02-05T13:56:00.363Z
                      ShipmentItemList:
                      - SellerSKU: "456454455464"
                        OrderItemId: "4565465645646"
                        OrderAdjustmentItemId: "456456465464"
                        QuantityShipped: 0
                        ItemChargeList:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemChargeAdjustmentList:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemFeeList:
                        - FeeType: FixedClosingFee
                          FeeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemFeeAdjustmentList:
                        - FeeType: FixedClosingFee
                          FeeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemTaxWithheldList:
                        - TaxCollectionModel: Free
                          TaxesWithheld:
                          - ChargeType: Tax
                            ChargeAmount:
                              CurrencyCode: USD
                              CurrencyAmount: 25.37
                        PromotionList:
                        - PromotionType: Free
                          PromotionId: "546564565"
                          PromotionAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        PromotionAdjustmentList:
                        - PromotionType: Free
                          PromotionId: "546564565"
                          PromotionAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        CostOfPointsGranted:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                        CostOfPointsReturned:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      ShipmentItemAdjustmentList:
                      - SellerSKU: "456454455464"
                        OrderItemId: "4565465645646"
                        OrderAdjustmentItemId: "456456465464"
                        QuantityShipped: 0
                        ItemChargeList:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemChargeAdjustmentList:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemFeeList:
                        - FeeType: FixedClosingFee
                          FeeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemFeeAdjustmentList:
                        - FeeType: FixedClosingFee
                          FeeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        ItemTaxWithheldList:
                        - TaxCollectionModel: Free
                          TaxesWithheld:
                          - ChargeType: Tax
                            ChargeAmount:
                              CurrencyCode: USD
                              CurrencyAmount: 25.37
                        PromotionList:
                        - PromotionType: Free
                          PromotionId: "546564565"
                          PromotionAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        PromotionAdjustmentList:
                        - PromotionType: Free
                          PromotionId: "546564565"
                          PromotionAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                        CostOfPointsGranted:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                        CostOfPointsReturned:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                    ImagingServicesFeeEventList:
                    - ImagingRequestBillingItemID: "456456456"
                      ASIN: "4564565456456546456"
                      PostedDate: 2020-02-05T13:56:00.363Z
                      FeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                    NetworkComminglingTransactionEventList:
                    - TransactionType: Free
                      PostedDate: 2020-02-05T13:56:00.363Z
                      NetCoTransactionID: "4565645"
                      SwapReason: None
                      ASIN: "464567656576"
                      MarketplaceId: string
                      TaxExclusiveAmount:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TaxAmount:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                    AffordabilityExpenseReversalEventList:
                    - AmazonOrderId: 444-555-3343433
                      PostedDate: 2020-02-05T13:56:00.363Z
                      MarketplaceId: "1"
                      TransactionType: Free
                      BaseExpense:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TaxTypeCGST:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TaxTypeSGST:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TaxTypeIGST:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TotalExpense:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                    TrialShipmentEventList:
                    - AmazonOrderId: 444-555-3343433
                      FinancialEventGroupId: "1"
                      PostedDate: 2020-02-05T13:56:00.363Z
                      SKU: "456454455464"
                      FeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                    TaxWithholdingEventList:
                    - PostedDate: 2020-02-05T13:56:00.363Z
                      BaseAmount:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      WithheldAmount:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TaxWithholdingPeriod:
                        StartDate: 2020-02-05T13:56:00.363Z
                        EndDate: 2020-02-05T13:56:00.363Z
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  eventGroupId:
                    value: BADID
              response:
                errors:
                - code: InvalidInput
                  message: Bad event group ID provided.
        "403":
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "500":
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
  /finances/v0/orders/{orderId}/financialEvents:
    get:
      description: |-
        Returns all financial events for the specified order.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 0.5 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: listFinancialEventsByOrderId
      parameters:
      - name: orderId
        in: path
        description: "An Amazon-defined order identifier, in 3-7-7 format."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: MaxResultsPerPage
        in: query
        description: "The maximum number of results to return per page. If the response\
          \ exceeds the maximum number of transactions or 10 MB, the API responds\
          \ with 'InvalidInput'."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Financial Events successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MaxResultsPerPage:
                    value: 10
                  orderId:
                    value: 485-734-5434857
              response:
                payload:
                  NextToken: Next token value
                  FinancialEvents:
                    RetrochargeEventList:
                    - RetrochargeEventType: Retrocharge
                      AmazonOrderId: 444-555-3343433
                      PostedDate: 2020-02-05T13:56:00.363Z
                      BaseTax:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      ShippingTax:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      MarketplaceName: "1"
                      RetrochargeTaxWithheldList:
                      - TaxCollectionModel: Free
                        TaxesWithheld:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                    RentalTransactionEventList:
                    - AmazonOrderId: 444-555-3343433
                      RentalEventType: string
                      ExtensionLength: 0
                      PostedDate: 2020-02-05T13:56:00.363Z
                      RentalChargeList:
                      - ChargeType: Tax
                        ChargeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      RentalFeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      MarketplaceName: "1"
                      RentalInitialValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      RentalReimbursement:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      RentalTaxWithheldList:
                      - TaxCollectionModel: Free
                        TaxesWithheld:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                    ProductAdsPaymentEventList:
                    - postedDate: 2020-02-05T13:56:00.363Z
                      transactionType: Free
                      invoiceId: "3454535453"
                      baseValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      taxValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      transactionValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                    ServiceFeeEventList:
                    - AmazonOrderId: 444-555-3343433
                      FeeReason: Free
                      FeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      SellerSKU: "456454455464"
                      FnSKU: Fn134
                      FeeDescription: FeeDescription
                      ASIN: KJHJ457648GHD
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: BAD-ORDER
              response:
                errors:
                - code: InvalidInput
                  message: Bad order ID provided.
        "403":
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "500":
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
  /finances/v0/financialEvents:
    get:
      description: |-
        Returns financial events for the specified data range.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 0.5 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: listFinancialEvents
      parameters:
      - name: MaxResultsPerPage
        in: query
        description: "The maximum number of results to return per page. If the response\
          \ exceeds the maximum number of transactions or 10 MB, the API responds\
          \ with 'InvalidInput'."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: PostedAfter
        in: query
        description: "A date used for selecting financial events posted after (or\
          \ at) a specified time. The date-time must be no later than two minutes\
          \ before the request was submitted, in ISO 8601 date time format."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: PostedBefore
        in: query
        description: "A date used for selecting financial events posted before (but\
          \ not at) a specified time. The date-time must be later than PostedAfter\
          \ and no later than two minutes before the request was submitted, in ISO\
          \ 8601 date time format. If PostedAfter and PostedBefore are more than 180\
          \ days apart, no financial events are returned. You must specify the PostedAfter\
          \ parameter if you specify the PostedBefore parameter. Default: Now minus\
          \ two minutes."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MaxResultsPerPage:
                    value: 10
                  NextToken:
                    value: jehgri34yo7jr9e8f984tr9i4o
              response:
                payload:
                  NextToken: Next token value
                  FinancialEvents:
                    PayWithAmazonEventList:
                    - SellerOrderId: "454645645656456"
                      TransactionPostedDate: 2020-02-05T13:56:00.363Z
                      BusinessObjectType: Free
                      SalesChannel: None
                      Charge:
                        ChargeType: Tax
                        ChargeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      FeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      PaymentAmountType: Tax
                      AmountDescription: Tax
                      FulfillmentChannel: FulfillmentChannel
                      StoreName: Etsy
                    ServiceProviderCreditEventList:
                    - ProviderTransactionType: Free
                      SellerOrderId: "454645645656456"
                      MarketplaceId: "1"
                      MarketplaceCountryCode: US
                      SellerId: "4564565546"
                      SellerStoreName: Etsy
                      ProviderId: "1"
                      ProviderStoreName: Etsy
                      TransactionAmount:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      TransactionCreationDate: 2020-02-05T13:56:00.363Z
                    RentalTransactionEventList:
                    - AmazonOrderId: 444-555-3343433
                      RentalEventType: string
                      ExtensionLength: 0
                      PostedDate: 2020-02-05T13:56:00.363Z
                      RentalChargeList:
                      - ChargeType: Tax
                        ChargeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      RentalFeeList:
                      - FeeType: FixedClosingFee
                        FeeAmount:
                          CurrencyCode: USD
                          CurrencyAmount: 25.37
                      MarketplaceName: "1"
                      RentalInitialValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      RentalReimbursement:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      RentalTaxWithheldList:
                      - TaxCollectionModel: Free
                        TaxesWithheld:
                        - ChargeType: Tax
                          ChargeAmount:
                            CurrencyCode: USD
                            CurrencyAmount: 25.37
                    ProductAdsPaymentEventList:
                    - postedDate: 2020-02-05T13:56:00.363Z
                      transactionType: Free
                      invoiceId: "3454535453"
                      baseValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      taxValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
                      transactionValue:
                        CurrencyCode: USD
                        CurrencyAmount: 25.37
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MaxResultsPerPage:
                    value: 2
              response:
                errors:
                - code: InvalidInput
                  message: Input not valid.
        "403":
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "500":
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFinancialEventsResponse'
components:
  schemas:
    AdhocDisbursementEvent:
      type: object
      properties:
        TransactionType:
          type: string
          description: |-
            Indicates the type of transaction.

            Example: "Disbursed to Amazon Gift Card balance"
        PostedDate:
          $ref: '#/components/schemas/Date'
        TransactionId:
          type: string
          description: The identifier for the transaction.
        TransactionAmount:
          $ref: '#/components/schemas/Currency'
      description: An event related to an Adhoc Disbursement.
      example:
        TransactionAmount: null
        TransactionType: TransactionType
        PostedDate: null
        TransactionId: TransactionId
    AdhocDisbursementEventList:
      type: array
      description: A list of `AdhocDisbursement` events.
      items:
        $ref: '#/components/schemas/AdhocDisbursementEvent'
      x-schema-name: AdhocDisbursementEventList
    AdjustmentEvent:
      type: object
      properties:
        AdjustmentType:
          type: string
          description: |-
            The type of adjustment.

            Possible values:

            * FBAInventoryReimbursement - An FBA inventory reimbursement to a seller's account. This occurs if a seller's inventory is damaged.

            * ReserveEvent - A reserve event that is generated at the time of a settlement period closing. This occurs when some money from a seller's account is held back.

            * PostageBilling - The amount paid by a seller for shipping labels.

            * PostageRefund - The reimbursement of shipping labels purchased for orders that were canceled or refunded.

            * LostOrDamagedReimbursement - An Amazon Easy Ship reimbursement to a seller's account for a package that we lost or damaged.

            * CanceledButPickedUpReimbursement - An Amazon Easy Ship reimbursement to a seller's account. This occurs when a package is picked up and the order is subsequently canceled. This value is used only in the India marketplace.

            * ReimbursementClawback - An Amazon Easy Ship reimbursement clawback from a seller's account. This occurs when a prior reimbursement is reversed. This value is used only in the India marketplace.

            * SellerRewards - An award credited to a seller's account for their participation in an offer in the Seller Rewards program. Applies only to the India marketplace.
        PostedDate:
          $ref: '#/components/schemas/Date'
        AdjustmentAmount:
          $ref: '#/components/schemas/Currency'
        AdjustmentItemList:
          $ref: '#/components/schemas/AdjustmentItemList'
      description: An adjustment to the seller's account.
      example:
        AdjustmentItemList:
        - FnSKU: FnSKU
          Quantity: Quantity
          SellerSKU: SellerSKU
          ASIN: ASIN
          TotalAmount: null
          ProductDescription: ProductDescription
          PerUnitAmount: null
        - FnSKU: FnSKU
          Quantity: Quantity
          SellerSKU: SellerSKU
          ASIN: ASIN
          TotalAmount: null
          ProductDescription: ProductDescription
          PerUnitAmount: null
        PostedDate: null
        AdjustmentAmount: null
        AdjustmentType: AdjustmentType
    AdjustmentEventList:
      type: array
      description: A list of adjustment event information for the seller's account.
      items:
        $ref: '#/components/schemas/AdjustmentEvent'
      x-schema-name: AdjustmentEventList
    AdjustmentItem:
      type: object
      properties:
        Quantity:
          type: string
          description: Represents the number of units in the seller's inventory when
            the AdustmentType is FBAInventoryReimbursement.
        PerUnitAmount:
          $ref: '#/components/schemas/Currency'
        TotalAmount:
          $ref: '#/components/schemas/Currency'
        SellerSKU:
          type: string
          description: "The seller SKU of the item. The seller SKU is qualified by\
            \ the seller's seller ID, which is included with every call to the Selling\
            \ Partner API."
        FnSKU:
          type: string
          description: A unique identifier assigned to products stored in and fulfilled
            from a fulfillment center.
        ProductDescription:
          type: string
          description: A short description of the item.
        ASIN:
          type: string
          description: The Amazon Standard Identification Number (ASIN) of the item.
      description: An item in an adjustment to the seller's account.
      example:
        FnSKU: FnSKU
        Quantity: Quantity
        SellerSKU: SellerSKU
        ASIN: ASIN
        TotalAmount: null
        ProductDescription: ProductDescription
        PerUnitAmount: null
    AdjustmentItemList:
      type: array
      description: A list of information about items in an adjustment to the seller's
        account.
      items:
        $ref: '#/components/schemas/AdjustmentItem'
      x-schema-name: AdjustmentItemList
    AffordabilityExpenseEvent:
      required:
      - TaxTypeCGST
      - TaxTypeIGST
      - TaxTypeSGST
      type: object
      properties:
        AmazonOrderId:
          type: string
          description: An Amazon-defined identifier for an order.
        PostedDate:
          $ref: '#/components/schemas/Date'
        MarketplaceId:
          type: string
          description: "An encrypted, Amazon-defined marketplace identifier."
        TransactionType:
          type: string
          description: "Indicates the type of transaction. \n\nPossible values:\n\n\
            * Charge - For an affordability promotion expense.\n\n* Refund - For an\
            \ affordability promotion expense reversal."
        BaseExpense:
          $ref: '#/components/schemas/Currency'
        TaxTypeCGST:
          $ref: '#/components/schemas/Currency'
        TaxTypeSGST:
          $ref: '#/components/schemas/Currency'
        TaxTypeIGST:
          $ref: '#/components/schemas/Currency'
        TotalExpense:
          $ref: '#/components/schemas/Currency'
      description: An expense related to an affordability promotion.
      example:
        TotalExpense: null
        TransactionType: TransactionType
        MarketplaceId: MarketplaceId
        TaxTypeIGST: null
        TaxTypeSGST: null
        AmazonOrderId: AmazonOrderId
        PostedDate: null
        BaseExpense: null
        TaxTypeCGST: null
    AffordabilityExpenseEventList:
      type: array
      description: A list of expense information related to an affordability promotion.
      items:
        $ref: '#/components/schemas/AffordabilityExpenseEvent'
      x-schema-name: AffordabilityExpenseEventList
    BigDecimal:
      type: number
    ChargeComponent:
      type: object
      properties:
        ChargeType:
          type: string
          description: The type of charge.
        ChargeAmount:
          $ref: '#/components/schemas/Currency'
      description: |-
        A charge on the seller's account.

        Possible values:

        * Principal - The selling price of the order item, equal to the selling price of the item multiplied by the quantity ordered.

        * Tax - The tax collected by the seller on the Principal.

        * MarketplaceFacilitatorTax-Principal - The tax withheld on the Principal.

        * MarketplaceFacilitatorTax-Shipping - The tax withheld on the ShippingCharge.

        * MarketplaceFacilitatorTax-Giftwrap - The tax withheld on the Giftwrap charge.

        * MarketplaceFacilitatorTax-Other - The tax withheld on other miscellaneous charges.

        * Discount - The promotional discount for an order item.

        * TaxDiscount - The tax amount deducted for promotional rebates.

        * CODItemCharge - The COD charge for an order item.

        * CODItemTaxCharge - The tax collected by the seller on a CODItemCharge.

        * CODOrderCharge - The COD charge for an order.

        * CODOrderTaxCharge - The tax collected by the seller on a CODOrderCharge.

        * CODShippingCharge - Shipping charges for a COD order.

        * CODShippingTaxCharge - The tax collected by the seller on a CODShippingCharge.

        * ShippingCharge - The shipping charge.

        * ShippingTax - The tax collected by the seller on a ShippingCharge.

        * Goodwill - The amount given to a buyer as a gesture of goodwill or to compensate for pain and suffering in the buying experience.

        * Giftwrap - The gift wrap charge.

        * GiftwrapTax - The tax collected by the seller on a Giftwrap charge.

        * RestockingFee - The charge applied to the buyer when returning a product in certain categories.

        * ReturnShipping - The amount given to the buyer to compensate for shipping the item back in the event we are at fault.

        * PointsFee - The value of Amazon Points deducted from the refund if the buyer does not have enough Amazon Points to cover the deduction.

        * GenericDeduction - A generic bad debt deduction.

        * FreeReplacementReturnShipping - The compensation for return shipping when a buyer receives the wrong item, requests a free replacement, and returns the incorrect item.

        * PaymentMethodFee - The fee collected for certain payment methods in certain marketplaces.

        * ExportCharge - The export duty that is charged when an item is shipped to an international destination as part of the Amazon Global program.

        * SAFE-TReimbursement - The SAFE-T claim amount for the item.

        * TCS-CGST - Tax Collected at Source (TCS) for Central Goods and Services Tax (CGST).

        * TCS-SGST - Tax Collected at Source for State Goods and Services Tax (SGST).

        * TCS-IGST - Tax Collected at Source for Integrated Goods and Services Tax (IGST).

        * TCS-UTGST - Tax Collected at Source for Union Territories Goods and Services Tax (UTGST).
      example:
        ChargeType: ChargeType
        ChargeAmount:
          CurrencyCode: CurrencyCode
          CurrencyAmount: 0.8008281904610115
    ChargeComponentList:
      type: array
      description: A list of charge information on the seller's account.
      items:
        $ref: '#/components/schemas/ChargeComponent'
      x-schema-name: ChargeComponentList
    ChargeInstrument:
      type: object
      properties:
        Description:
          type: string
          description: A short description of the charge instrument.
        Tail:
          type: string
          description: The account tail (trailing digits) of the charge instrument.
        Amount:
          $ref: '#/components/schemas/Currency'
      description: A payment instrument.
      example:
        Description: Description
        Tail: Tail
        Amount: null
    ChargeInstrumentList:
      type: array
      description: A list of payment instruments.
      items:
        $ref: '#/components/schemas/ChargeInstrument'
      x-schema-name: ChargeInstrumentList
    ChargeRefundEvent:
      type: object
      properties:
        PostedDate:
          $ref: '#/components/schemas/Date'
        ReasonCode:
          type: string
          description: |-
            The reason given for a charge refund.

            Example: `SubscriptionFeeCorrection`
        ReasonCodeDescription:
          type: string
          description: "A description of the Reason Code. \n\nExample: `SubscriptionFeeCorrection`"
        ChargeRefundTransactions:
          $ref: '#/components/schemas/ChargeRefundTransaction'
      description: An event related to charge refund.
      example:
        ChargeRefundTransactions:
          ChargeType: ChargeType
          ChargeAmount: null
        ReasonCodeDescription: ReasonCodeDescription
        PostedDate: null
        ReasonCode: ReasonCode
    ChargeRefundEventList:
      type: array
      description: A list of charge refund events.
      items:
        $ref: '#/components/schemas/ChargeRefundEvent'
      x-schema-name: ChargeRefundEventList
    ChargeRefundTransaction:
      type: object
      properties:
        ChargeAmount:
          $ref: '#/components/schemas/Currency'
        ChargeType:
          type: string
          description: The type of charge.
      description: The charge refund transaction.
      example:
        ChargeType: ChargeType
        ChargeAmount: null
    CouponPaymentEvent:
      type: object
      properties:
        PostedDate:
          $ref: '#/components/schemas/Date'
        CouponId:
          type: string
          description: A coupon identifier.
        SellerCouponDescription:
          type: string
          description: The description provided by the seller when they created the
            coupon.
        ClipOrRedemptionCount:
          type: integer
          description: The number of coupon clips or redemptions.
          format: int64
        PaymentEventId:
          type: string
          description: A payment event identifier.
        FeeComponent:
          $ref: '#/components/schemas/FeeComponent'
        ChargeComponent:
          $ref: '#/components/schemas/ChargeComponent'
        TotalAmount:
          $ref: '#/components/schemas/Currency'
      description: An event related to coupon payments.
      example:
        CouponId: CouponId
        PostedDate: null
        SellerCouponDescription: SellerCouponDescription
        TotalAmount: null
        ClipOrRedemptionCount: 1
        PaymentEventId: PaymentEventId
        FeeComponent: null
        ChargeComponent: null
    CouponPaymentEventList:
      type: array
      description: A list of coupon payment event information.
      items:
        $ref: '#/components/schemas/CouponPaymentEvent'
      x-schema-name: CouponPaymentEventList
    Currency:
      type: object
      properties:
        CurrencyCode:
          type: string
          description: The three-digit currency code in ISO 4217 format.
        CurrencyAmount:
          $ref: '#/components/schemas/BigDecimal'
      description: A currency type and amount.
      example:
        CurrencyCode: CurrencyCode
        CurrencyAmount: 0.8008281904610115
    Date:
      type: string
      format: date-time
    DebtRecoveryEvent:
      type: object
      properties:
        DebtRecoveryType:
          type: string
          description: |-
            The debt recovery type.

            Possible values:

            * DebtPayment

            * DebtPaymentFailure

            *DebtAdjustment
        RecoveryAmount:
          $ref: '#/components/schemas/Currency'
        OverPaymentCredit:
          $ref: '#/components/schemas/Currency'
        DebtRecoveryItemList:
          $ref: '#/components/schemas/DebtRecoveryItemList'
        ChargeInstrumentList:
          $ref: '#/components/schemas/ChargeInstrumentList'
      description: A debt payment or debt adjustment.
      example:
        OverPaymentCredit: null
        RecoveryAmount: null
        DebtRecoveryType: DebtRecoveryType
        DebtRecoveryItemList:
        - RecoveryAmount: null
          GroupEndDate: null
          GroupBeginDate: null
          OriginalAmount: null
        - RecoveryAmount: null
          GroupEndDate: null
          GroupBeginDate: null
          OriginalAmount: null
        ChargeInstrumentList:
        - Description: Description
          Tail: Tail
          Amount: null
        - Description: Description
          Tail: Tail
          Amount: null
    DebtRecoveryEventList:
      type: array
      description: A list of debt recovery event information.
      items:
        $ref: '#/components/schemas/DebtRecoveryEvent'
      x-schema-name: DebtRecoveryEventList
    DebtRecoveryItem:
      type: object
      properties:
        RecoveryAmount:
          $ref: '#/components/schemas/Currency'
        OriginalAmount:
          $ref: '#/components/schemas/Currency'
        GroupBeginDate:
          $ref: '#/components/schemas/Date'
        GroupEndDate:
          $ref: '#/components/schemas/Date'
      description: An item of a debt payment or debt adjustment.
      example:
        RecoveryAmount: null
        GroupEndDate: null
        GroupBeginDate: null
        OriginalAmount: null
    DebtRecoveryItemList:
      type: array
      description: A list of debt recovery item information.
      items:
        $ref: '#/components/schemas/DebtRecoveryItem'
      x-schema-name: DebtRecoveryItemList
    DirectPayment:
      type: object
      properties:
        DirectPaymentType:
          type: string
          description: |-
            The type of payment.

            Possible values:

            * StoredValueCardRevenue - The amount that is deducted from the seller's account because the seller received money through a stored value card.

            * StoredValueCardRefund - The amount that Amazon returns to the seller if the order that is bought using a stored value card is refunded.

            * PrivateLabelCreditCardRevenue - The amount that is deducted from the seller's account because the seller received money through a private label credit card offered by Amazon.

            * PrivateLabelCreditCardRefund - The amount that Amazon returns to the seller if the order that is bought using a private label credit card offered by Amazon is refunded.

            * CollectOnDeliveryRevenue - The COD amount that the seller collected directly from the buyer.

            * CollectOnDeliveryRefund - The amount that Amazon refunds to the buyer if an order paid for by COD is refunded.
        DirectPaymentAmount:
          $ref: '#/components/schemas/Currency'
      description: A payment made directly to a seller.
      example:
        DirectPaymentAmount: null
        DirectPaymentType: DirectPaymentType
    DirectPaymentList:
      type: array
      description: A list of direct payment information.
      items:
        $ref: '#/components/schemas/DirectPayment'
      x-schema-name: DirectPaymentList
    FailedAdhocDisbursementEventList:
      type: object
      properties:
        FundsTransfersType:
          type: string
          description: "The type of fund transfer. \n\nExample \"Refund\""
        TransferId:
          type: string
          description: The transfer identifier.
        DisbursementId:
          type: string
          description: The disbursement identifier.
        PaymentDisbursementType:
          type: string
          description: "The type of payment for disbursement. \n\nExample `CREDIT_CARD`"
        Status:
          type: string
          description: "The status of the failed `AdhocDisbursement`. \n\nExample\
            \ `HARD_DECLINED`"
        TransferAmount:
          $ref: '#/components/schemas/Currency'
        PostedDate:
          $ref: '#/components/schemas/Date'
      description: Failed ad hoc disbursement event list.
      example:
        Status: Status
        TransferAmount: null
        PaymentDisbursementType: PaymentDisbursementType
        DisbursementId: DisbursementId
        PostedDate: null
        TransferId: TransferId
        FundsTransfersType: FundsTransfersType
    FBALiquidationEvent:
      type: object
      properties:
        PostedDate:
          $ref: '#/components/schemas/Date'
        OriginalRemovalOrderId:
          type: string
          description: The identifier for the original removal order.
        LiquidationProceedsAmount:
          $ref: '#/components/schemas/Currency'
        LiquidationFeeAmount:
          $ref: '#/components/schemas/Currency'
      description: A payment event for Fulfillment by Amazon (FBA) inventory liquidation.
        This event is used only in the US marketplace.
      example:
        OriginalRemovalOrderId: OriginalRemovalOrderId
        LiquidationFeeAmount: null
        PostedDate: null
        LiquidationProceedsAmount: null
    FBALiquidationEventList:
      type: array
      description: A list of FBA inventory liquidation payment events.
      items:
        $ref: '#/components/schemas/FBALiquidationEvent'
      x-schema-name: FBALiquidationEventList
    FeeComponent:
      type: object
      properties:
        FeeType:
          type: string
          description: "The type of fee. For more information about Selling on Amazon\
            \ fees, see [Selling on Amazon Fee Schedule](https://sellercentral.amazon.com/gp/help/200336920)\
            \ on Seller Central. For more information about Fulfillment by Amazon\
            \ fees, see [FBA features, services and fees](https://sellercentral.amazon.com/gp/help/201074400)\
            \ on Seller Central."
        FeeAmount:
          $ref: '#/components/schemas/Currency'
      description: A fee associated with the event.
      example:
        FeeType: FeeType
        FeeAmount: null
    FeeComponentList:
      type: array
      description: A list of fee component information.
      items:
        $ref: '#/components/schemas/FeeComponent'
      x-schema-name: FeeComponentList
    FinancialEventGroup:
      type: object
      properties:
        FinancialEventGroupId:
          type: string
          description: A unique identifier for the financial event group.
        ProcessingStatus:
          type: string
          description: |-
            The processing status of the financial event group indicates whether the balance of the financial event group is settled.

            Possible values:

            * Open

            * Closed
        FundTransferStatus:
          type: string
          description: The status of the fund transfer.
        OriginalTotal:
          $ref: '#/components/schemas/Currency'
        ConvertedTotal:
          $ref: '#/components/schemas/Currency'
        FundTransferDate:
          $ref: '#/components/schemas/Date'
        TraceId:
          type: string
          description: The trace identifier used by sellers to look up transactions
            externally.
        AccountTail:
          type: string
          description: The account tail of the payment instrument.
        BeginningBalance:
          $ref: '#/components/schemas/Currency'
        FinancialEventGroupStart:
          $ref: '#/components/schemas/Date'
        FinancialEventGroupEnd:
          $ref: '#/components/schemas/Date'
      description: Information related to a financial event group.
      example:
        OriginalTotal:
          CurrencyCode: CurrencyCode
          CurrencyAmount: 0.8008281904610115
        AccountTail: AccountTail
        ConvertedTotal: null
        FinancialEventGroupId: FinancialEventGroupId
        TraceId: TraceId
        FundTransferDate: 2000-01-23T04:56:07.000+00:00
        FinancialEventGroupEnd: null
        FundTransferStatus: FundTransferStatus
        ProcessingStatus: ProcessingStatus
        FinancialEventGroupStart: null
        BeginningBalance: null
    FinancialEventGroupList:
      type: array
      description: A list of financial event group information.
      items:
        $ref: '#/components/schemas/FinancialEventGroup'
      x-schema-name: FinancialEventGroupList
    FinancialEvents:
      type: object
      properties:
        ShipmentEventList:
          $ref: '#/components/schemas/ShipmentEventList'
        ShipmentSettleEventList:
          $ref: '#/components/schemas/ShipmentSettleEventList'
        RefundEventList:
          $ref: '#/components/schemas/ShipmentEventList'
        GuaranteeClaimEventList:
          $ref: '#/components/schemas/ShipmentEventList'
        ChargebackEventList:
          $ref: '#/components/schemas/ShipmentEventList'
        PayWithAmazonEventList:
          $ref: '#/components/schemas/PayWithAmazonEventList'
        ServiceProviderCreditEventList:
          $ref: '#/components/schemas/SolutionProviderCreditEventList'
        RetrochargeEventList:
          $ref: '#/components/schemas/RetrochargeEventList'
        RentalTransactionEventList:
          $ref: '#/components/schemas/RentalTransactionEventList'
        ProductAdsPaymentEventList:
          $ref: '#/components/schemas/ProductAdsPaymentEventList'
        ServiceFeeEventList:
          $ref: '#/components/schemas/ServiceFeeEventList'
        SellerDealPaymentEventList:
          $ref: '#/components/schemas/SellerDealPaymentEventList'
        DebtRecoveryEventList:
          $ref: '#/components/schemas/DebtRecoveryEventList'
        LoanServicingEventList:
          $ref: '#/components/schemas/LoanServicingEventList'
        AdjustmentEventList:
          $ref: '#/components/schemas/AdjustmentEventList'
        SAFETReimbursementEventList:
          $ref: '#/components/schemas/SAFETReimbursementEventList'
        SellerReviewEnrollmentPaymentEventList:
          $ref: '#/components/schemas/SellerReviewEnrollmentPaymentEventList'
        FBALiquidationEventList:
          $ref: '#/components/schemas/FBALiquidationEventList'
        CouponPaymentEventList:
          $ref: '#/components/schemas/CouponPaymentEventList'
        ImagingServicesFeeEventList:
          $ref: '#/components/schemas/ImagingServicesFeeEventList'
        NetworkComminglingTransactionEventList:
          $ref: '#/components/schemas/NetworkComminglingTransactionEventList'
        AffordabilityExpenseEventList:
          $ref: '#/components/schemas/AffordabilityExpenseEventList'
        AffordabilityExpenseReversalEventList:
          $ref: '#/components/schemas/AffordabilityExpenseEventList'
        RemovalShipmentEventList:
          $ref: '#/components/schemas/RemovalShipmentEventList'
        RemovalShipmentAdjustmentEventList:
          $ref: '#/components/schemas/RemovalShipmentAdjustmentEventList'
        TrialShipmentEventList:
          $ref: '#/components/schemas/TrialShipmentEventList'
        TDSReimbursementEventList:
          $ref: '#/components/schemas/TDSReimbursementEventList'
        AdhocDisbursementEventList:
          $ref: '#/components/schemas/AdhocDisbursementEventList'
        TaxWithholdingEventList:
          $ref: '#/components/schemas/TaxWithholdingEventList'
        ChargeRefundEventList:
          $ref: '#/components/schemas/ChargeRefundEventList'
        FailedAdhocDisbursementEventList:
          $ref: '#/components/schemas/FailedAdhocDisbursementEventList'
        ValueAddedServiceChargeEventList:
          $ref: '#/components/schemas/ValueAddedServiceChargeEventList'
        CapacityReservationBillingEventList:
          $ref: '#/components/schemas/CapacityReservationBillingEventList'
      description: Contains all information related to a financial event.
      example:
        SellerReviewEnrollmentPaymentEventList:
        - ParentASIN: ParentASIN
          EnrollmentId: EnrollmentId
          PostedDate: null
          TotalAmount: null
          FeeComponent: null
          ChargeComponent: null
        - ParentASIN: ParentASIN
          EnrollmentId: EnrollmentId
          PostedDate: null
          TotalAmount: null
          FeeComponent: null
          ChargeComponent: null
        CouponPaymentEventList:
        - CouponId: CouponId
          PostedDate: null
          SellerCouponDescription: SellerCouponDescription
          TotalAmount: null
          ClipOrRedemptionCount: 1
          PaymentEventId: PaymentEventId
          FeeComponent: null
          ChargeComponent: null
        - CouponId: CouponId
          PostedDate: null
          SellerCouponDescription: SellerCouponDescription
          TotalAmount: null
          ClipOrRedemptionCount: 1
          PaymentEventId: PaymentEventId
          FeeComponent: null
          ChargeComponent: null
        ChargebackEventList: null
        ServiceProviderCreditEventList:
        - ProviderId: ProviderId
          TransactionAmount: null
          MarketplaceCountryCode: MarketplaceCountryCode
          MarketplaceId: MarketplaceId
          TransactionCreationDate: null
          SellerOrderId: SellerOrderId
          SellerId: SellerId
          SellerStoreName: SellerStoreName
          ProviderStoreName: ProviderStoreName
          ProviderTransactionType: ProviderTransactionType
        - ProviderId: ProviderId
          TransactionAmount: null
          MarketplaceCountryCode: MarketplaceCountryCode
          MarketplaceId: MarketplaceId
          TransactionCreationDate: null
          SellerOrderId: SellerOrderId
          SellerId: SellerId
          SellerStoreName: SellerStoreName
          ProviderStoreName: ProviderStoreName
          ProviderTransactionType: ProviderTransactionType
        AdjustmentEventList:
        - AdjustmentItemList:
          - FnSKU: FnSKU
            Quantity: Quantity
            SellerSKU: SellerSKU
            ASIN: ASIN
            TotalAmount: null
            ProductDescription: ProductDescription
            PerUnitAmount: null
          - FnSKU: FnSKU
            Quantity: Quantity
            SellerSKU: SellerSKU
            ASIN: ASIN
            TotalAmount: null
            ProductDescription: ProductDescription
            PerUnitAmount: null
          PostedDate: null
          AdjustmentAmount: null
          AdjustmentType: AdjustmentType
        - AdjustmentItemList:
          - FnSKU: FnSKU
            Quantity: Quantity
            SellerSKU: SellerSKU
            ASIN: ASIN
            TotalAmount: null
            ProductDescription: ProductDescription
            PerUnitAmount: null
          - FnSKU: FnSKU
            Quantity: Quantity
            SellerSKU: SellerSKU
            ASIN: ASIN
            TotalAmount: null
            ProductDescription: ProductDescription
            PerUnitAmount: null
          PostedDate: null
          AdjustmentAmount: null
          AdjustmentType: AdjustmentType
        NetworkComminglingTransactionEventList:
        - TransactionType: TransactionType
          SwapReason: SwapReason
          TaxAmount: null
          MarketplaceId: MarketplaceId
          PostedDate: null
          ASIN: ASIN
          TaxExclusiveAmount: null
          NetCoTransactionID: NetCoTransactionID
        - TransactionType: TransactionType
          SwapReason: SwapReason
          TaxAmount: null
          MarketplaceId: MarketplaceId
          PostedDate: null
          ASIN: ASIN
          TaxExclusiveAmount: null
          NetCoTransactionID: NetCoTransactionID
        TaxWithholdingEventList:
        - BaseAmount: null
          WithheldAmount: null
          PostedDate: null
          TaxWithholdingPeriod:
            StartDate: null
            EndDate: null
        - BaseAmount: null
          WithheldAmount: null
          PostedDate: null
          TaxWithholdingPeriod:
            StartDate: null
            EndDate: null
        TrialShipmentEventList:
        - FeeList: null
          AmazonOrderId: AmazonOrderId
          FinancialEventGroupId: FinancialEventGroupId
          PostedDate: null
          SKU: SKU
        - FeeList: null
          AmazonOrderId: AmazonOrderId
          FinancialEventGroupId: FinancialEventGroupId
          PostedDate: null
          SKU: SKU
        FailedAdhocDisbursementEventList:
          Status: Status
          TransferAmount: null
          PaymentDisbursementType: PaymentDisbursementType
          DisbursementId: DisbursementId
          PostedDate: null
          TransferId: TransferId
          FundsTransfersType: FundsTransfersType
        PayWithAmazonEventList:
        - TransactionPostedDate: null
          SalesChannel: SalesChannel
          PaymentAmountType: PaymentAmountType
          AmountDescription: AmountDescription
          StoreName: StoreName
          FeeList: null
          Charge: null
          SellerOrderId: SellerOrderId
          BusinessObjectType: BusinessObjectType
          FulfillmentChannel: FulfillmentChannel
        - TransactionPostedDate: null
          SalesChannel: SalesChannel
          PaymentAmountType: PaymentAmountType
          AmountDescription: AmountDescription
          StoreName: StoreName
          FeeList: null
          Charge: null
          SellerOrderId: SellerOrderId
          BusinessObjectType: BusinessObjectType
          FulfillmentChannel: FulfillmentChannel
        RetrochargeEventList:
        - RetrochargeEventType: RetrochargeEventType
          MarketplaceName: MarketplaceName
          RetrochargeTaxWithheldList: null
          AmazonOrderId: AmazonOrderId
          PostedDate: null
          ShippingTax: null
          BaseTax: null
        - RetrochargeEventType: RetrochargeEventType
          MarketplaceName: MarketplaceName
          RetrochargeTaxWithheldList: null
          AmazonOrderId: AmazonOrderId
          PostedDate: null
          ShippingTax: null
          BaseTax: null
        ImagingServicesFeeEventList:
        - FeeList: null
          ImagingRequestBillingItemID: ImagingRequestBillingItemID
          ASIN: ASIN
          PostedDate: null
        - FeeList: null
          ImagingRequestBillingItemID: ImagingRequestBillingItemID
          ASIN: ASIN
          PostedDate: null
        RentalTransactionEventList:
        - ExtensionLength: 6
          RentalChargeList: null
          RentalTaxWithheldList: null
          MarketplaceName: MarketplaceName
          RentalInitialValue: null
          AmazonOrderId: AmazonOrderId
          RentalFeeList: null
          RentalEventType: RentalEventType
          PostedDate: null
          RentalReimbursement: null
        - ExtensionLength: 6
          RentalChargeList: null
          RentalTaxWithheldList: null
          MarketplaceName: MarketplaceName
          RentalInitialValue: null
          AmazonOrderId: AmazonOrderId
          RentalFeeList: null
          RentalEventType: RentalEventType
          PostedDate: null
          RentalReimbursement: null
        DebtRecoveryEventList:
        - OverPaymentCredit: null
          RecoveryAmount: null
          DebtRecoveryType: DebtRecoveryType
          DebtRecoveryItemList:
          - RecoveryAmount: null
            GroupEndDate: null
            GroupBeginDate: null
            OriginalAmount: null
          - RecoveryAmount: null
            GroupEndDate: null
            GroupBeginDate: null
            OriginalAmount: null
          ChargeInstrumentList:
          - Description: Description
            Tail: Tail
            Amount: null
          - Description: Description
            Tail: Tail
            Amount: null
        - OverPaymentCredit: null
          RecoveryAmount: null
          DebtRecoveryType: DebtRecoveryType
          DebtRecoveryItemList:
          - RecoveryAmount: null
            GroupEndDate: null
            GroupBeginDate: null
            OriginalAmount: null
          - RecoveryAmount: null
            GroupEndDate: null
            GroupBeginDate: null
            OriginalAmount: null
          ChargeInstrumentList:
          - Description: Description
            Tail: Tail
            Amount: null
          - Description: Description
            Tail: Tail
            Amount: null
        RefundEventList: null
        ServiceFeeEventList:
        - FeeList: null
          FeeReason: FeeReason
          AmazonOrderId: AmazonOrderId
          FnSKU: FnSKU
          SellerSKU: SellerSKU
          ASIN: ASIN
          FeeDescription: FeeDescription
        - FeeList: null
          FeeReason: FeeReason
          AmazonOrderId: AmazonOrderId
          FnSKU: FnSKU
          SellerSKU: SellerSKU
          ASIN: ASIN
          FeeDescription: FeeDescription
        AffordabilityExpenseEventList:
        - TotalExpense: null
          TransactionType: TransactionType
          MarketplaceId: MarketplaceId
          TaxTypeIGST: null
          TaxTypeSGST: null
          AmazonOrderId: AmazonOrderId
          PostedDate: null
          BaseExpense: null
          TaxTypeCGST: null
        - TotalExpense: null
          TransactionType: TransactionType
          MarketplaceId: MarketplaceId
          TaxTypeIGST: null
          TaxTypeSGST: null
          AmazonOrderId: AmazonOrderId
          PostedDate: null
          BaseExpense: null
          TaxTypeCGST: null
        CapacityReservationBillingEventList:
        - TransactionAmount: null
          TransactionType: TransactionType
          Description: Description
          PostedDate: null
        - TransactionAmount: null
          TransactionType: TransactionType
          Description: Description
          PostedDate: null
        ShipmentSettleEventList:
        - null
        - null
        SellerDealPaymentEventList:
        - feeAmount: null
          totalAmount: null
          dealId: dealId
          eventType: eventType
          dealDescription: dealDescription
          feeType: feeType
          taxAmount: null
          postedDate: null
        - feeAmount: null
          totalAmount: null
          dealId: dealId
          eventType: eventType
          dealDescription: dealDescription
          feeType: feeType
          taxAmount: null
          postedDate: null
        ValueAddedServiceChargeEventList:
          TransactionAmount: null
          TransactionType: TransactionType
          Description: Description
          PostedDate: null
        ProductAdsPaymentEventList:
        - transactionType: transactionType
          baseValue: null
          taxValue: null
          invoiceId: invoiceId
          transactionValue: null
          postedDate: null
        - transactionType: transactionType
          baseValue: null
          taxValue: null
          invoiceId: invoiceId
          transactionValue: null
          postedDate: null
        RemovalShipmentAdjustmentEventList:
        - TransactionType: TransactionType
          RemovalShipmentItemAdjustmentList:
          - TaxAmountAdjustment: null
            TaxCollectionModel: TaxCollectionModel
            RevenueAdjustment: null
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            AdjustedQuantity: 5
            RemovalShipmentItemId: RemovalShipmentItemId
            TaxWithheldAdjustment: null
          - TaxAmountAdjustment: null
            TaxCollectionModel: TaxCollectionModel
            RevenueAdjustment: null
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            AdjustedQuantity: 5
            RemovalShipmentItemId: RemovalShipmentItemId
            TaxWithheldAdjustment: null
          PostedDate: null
          AdjustmentEventId: AdjustmentEventId
          MerchantOrderId: MerchantOrderId
          OrderId: OrderId
        - TransactionType: TransactionType
          RemovalShipmentItemAdjustmentList:
          - TaxAmountAdjustment: null
            TaxCollectionModel: TaxCollectionModel
            RevenueAdjustment: null
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            AdjustedQuantity: 5
            RemovalShipmentItemId: RemovalShipmentItemId
            TaxWithheldAdjustment: null
          - TaxAmountAdjustment: null
            TaxCollectionModel: TaxCollectionModel
            RevenueAdjustment: null
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            AdjustedQuantity: 5
            RemovalShipmentItemId: RemovalShipmentItemId
            TaxWithheldAdjustment: null
          PostedDate: null
          AdjustmentEventId: AdjustmentEventId
          MerchantOrderId: MerchantOrderId
          OrderId: OrderId
        LoanServicingEventList:
        - LoanAmount: null
          SourceBusinessEventType: SourceBusinessEventType
        - LoanAmount: null
          SourceBusinessEventType: SourceBusinessEventType
        ShipmentEventList:
        - MarketplaceName: MarketplaceName
          ShipmentItemList:
          - ItemChargeAdjustmentList: null
            OrderAdjustmentItemId: OrderAdjustmentItemId
            ItemFeeAdjustmentList: null
            QuantityShipped: 0
            SellerSKU: SellerSKU
            CostOfPointsGranted: null
            ItemChargeList: null
            ItemFeeList: null
            ItemTaxWithheldList:
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            CostOfPointsReturned: null
            PromotionAdjustmentList: null
            PromotionList:
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            OrderItemId: OrderItemId
          - ItemChargeAdjustmentList: null
            OrderAdjustmentItemId: OrderAdjustmentItemId
            ItemFeeAdjustmentList: null
            QuantityShipped: 0
            SellerSKU: SellerSKU
            CostOfPointsGranted: null
            ItemChargeList: null
            ItemFeeList: null
            ItemTaxWithheldList:
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            CostOfPointsReturned: null
            PromotionAdjustmentList: null
            PromotionList:
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            OrderItemId: OrderItemId
          AmazonOrderId: AmazonOrderId
          OrderChargeList:
          - ChargeType: ChargeType
            ChargeAmount:
              CurrencyCode: CurrencyCode
              CurrencyAmount: 0.8008281904610115
          - ChargeType: ChargeType
            ChargeAmount:
              CurrencyCode: CurrencyCode
              CurrencyAmount: 0.8008281904610115
          OrderChargeAdjustmentList: null
          DirectPaymentList:
          - DirectPaymentAmount: null
            DirectPaymentType: DirectPaymentType
          - DirectPaymentAmount: null
            DirectPaymentType: DirectPaymentType
          ShipmentFeeList:
          - FeeType: FeeType
            FeeAmount: null
          - FeeType: FeeType
            FeeAmount: null
          ShipmentFeeAdjustmentList: null
          OrderFeeList: null
          SellerOrderId: SellerOrderId
          PostedDate: 2000-01-23T04:56:07.000+00:00
          ShipmentItemAdjustmentList: null
          OrderFeeAdjustmentList: null
        - MarketplaceName: MarketplaceName
          ShipmentItemList:
          - ItemChargeAdjustmentList: null
            OrderAdjustmentItemId: OrderAdjustmentItemId
            ItemFeeAdjustmentList: null
            QuantityShipped: 0
            SellerSKU: SellerSKU
            CostOfPointsGranted: null
            ItemChargeList: null
            ItemFeeList: null
            ItemTaxWithheldList:
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            CostOfPointsReturned: null
            PromotionAdjustmentList: null
            PromotionList:
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            OrderItemId: OrderItemId
          - ItemChargeAdjustmentList: null
            OrderAdjustmentItemId: OrderAdjustmentItemId
            ItemFeeAdjustmentList: null
            QuantityShipped: 0
            SellerSKU: SellerSKU
            CostOfPointsGranted: null
            ItemChargeList: null
            ItemFeeList: null
            ItemTaxWithheldList:
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            - TaxCollectionModel: TaxCollectionModel
              TaxesWithheld: null
            CostOfPointsReturned: null
            PromotionAdjustmentList: null
            PromotionList:
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            - PromotionType: PromotionType
              PromotionAmount: null
              PromotionId: PromotionId
            OrderItemId: OrderItemId
          AmazonOrderId: AmazonOrderId
          OrderChargeList:
          - ChargeType: ChargeType
            ChargeAmount:
              CurrencyCode: CurrencyCode
              CurrencyAmount: 0.8008281904610115
          - ChargeType: ChargeType
            ChargeAmount:
              CurrencyCode: CurrencyCode
              CurrencyAmount: 0.8008281904610115
          OrderChargeAdjustmentList: null
          DirectPaymentList:
          - DirectPaymentAmount: null
            DirectPaymentType: DirectPaymentType
          - DirectPaymentAmount: null
            DirectPaymentType: DirectPaymentType
          ShipmentFeeList:
          - FeeType: FeeType
            FeeAmount: null
          - FeeType: FeeType
            FeeAmount: null
          ShipmentFeeAdjustmentList: null
          OrderFeeList: null
          SellerOrderId: SellerOrderId
          PostedDate: 2000-01-23T04:56:07.000+00:00
          ShipmentItemAdjustmentList: null
          OrderFeeAdjustmentList: null
        TDSReimbursementEventList:
        - PostedDate: null
          TDSOrderId: TDSOrderId
          ReimbursedAmount: null
        - PostedDate: null
          TDSOrderId: TDSOrderId
          ReimbursedAmount: null
        FBALiquidationEventList:
        - OriginalRemovalOrderId: OriginalRemovalOrderId
          LiquidationFeeAmount: null
          PostedDate: null
          LiquidationProceedsAmount: null
        - OriginalRemovalOrderId: OriginalRemovalOrderId
          LiquidationFeeAmount: null
          PostedDate: null
          LiquidationProceedsAmount: null
        ChargeRefundEventList:
        - ChargeRefundTransactions:
            ChargeType: ChargeType
            ChargeAmount: null
          ReasonCodeDescription: ReasonCodeDescription
          PostedDate: null
          ReasonCode: ReasonCode
        - ChargeRefundTransactions:
            ChargeType: ChargeType
            ChargeAmount: null
          ReasonCodeDescription: ReasonCodeDescription
          PostedDate: null
          ReasonCode: ReasonCode
        RemovalShipmentEventList:
        - TransactionType: TransactionType
          PostedDate: null
          MerchantOrderId: MerchantOrderId
          OrderId: OrderId
          RemovalShipmentItemList:
          - TaxAmount: null
            TaxCollectionModel: TaxCollectionModel
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            TaxWithheld: null
            RemovalShipmentItemId: RemovalShipmentItemId
            Quantity: 5
            Revenue: null
            FeeAmount: null
          - TaxAmount: null
            TaxCollectionModel: TaxCollectionModel
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            TaxWithheld: null
            RemovalShipmentItemId: RemovalShipmentItemId
            Quantity: 5
            Revenue: null
            FeeAmount: null
        - TransactionType: TransactionType
          PostedDate: null
          MerchantOrderId: MerchantOrderId
          OrderId: OrderId
          RemovalShipmentItemList:
          - TaxAmount: null
            TaxCollectionModel: TaxCollectionModel
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            TaxWithheld: null
            RemovalShipmentItemId: RemovalShipmentItemId
            Quantity: 5
            Revenue: null
            FeeAmount: null
          - TaxAmount: null
            TaxCollectionModel: TaxCollectionModel
            FulfillmentNetworkSKU: FulfillmentNetworkSKU
            TaxWithheld: null
            RemovalShipmentItemId: RemovalShipmentItemId
            Quantity: 5
            Revenue: null
            FeeAmount: null
        AdhocDisbursementEventList:
        - TransactionAmount: null
          TransactionType: TransactionType
          PostedDate: null
          TransactionId: TransactionId
        - TransactionAmount: null
          TransactionType: TransactionType
          PostedDate: null
          TransactionId: TransactionId
        SAFETReimbursementEventList:
        - SAFETClaimId: SAFETClaimId
          PostedDate: null
          ReimbursedAmount: null
          ReasonCode: ReasonCode
          SAFETReimbursementItemList:
          - quantity: quantity
            itemChargeList: null
            productDescription: productDescription
          - quantity: quantity
            itemChargeList: null
            productDescription: productDescription
        - SAFETClaimId: SAFETClaimId
          PostedDate: null
          ReimbursedAmount: null
          ReasonCode: ReasonCode
          SAFETReimbursementItemList:
          - quantity: quantity
            itemChargeList: null
            productDescription: productDescription
          - quantity: quantity
            itemChargeList: null
            productDescription: productDescription
        GuaranteeClaimEventList: null
        AffordabilityExpenseReversalEventList: null
    ImagingServicesFeeEvent:
      type: object
      properties:
        ImagingRequestBillingItemID:
          type: string
          description: The identifier for the imaging services request.
        ASIN:
          type: string
          description: The Amazon Standard Identification Number (ASIN) of the item
            for which the imaging service was requested.
        PostedDate:
          $ref: '#/components/schemas/Date'
        FeeList:
          $ref: '#/components/schemas/FeeComponentList'
      description: A fee event related to Amazon Imaging services.
      example:
        FeeList: null
        ImagingRequestBillingItemID: ImagingRequestBillingItemID
        ASIN: ASIN
        PostedDate: null
    ImagingServicesFeeEventList:
      type: array
      description: A list of fee events related to Amazon Imaging services.
      items:
        $ref: '#/components/schemas/ImagingServicesFeeEvent'
      x-schema-name: ImagingServicesFeeEventList
    ListFinancialEventGroupsPayload:
      type: object
      properties:
        NextToken:
          type: string
          description: "When present and not empty, pass this string token in the\
            \ next request to return the next response page."
        FinancialEventGroupList:
          $ref: '#/components/schemas/FinancialEventGroupList'
      description: The payload for the listFinancialEventGroups operation.
      example:
        NextToken: NextToken
        FinancialEventGroupList:
        - OriginalTotal:
            CurrencyCode: CurrencyCode
            CurrencyAmount: 0.8008281904610115
          AccountTail: AccountTail
          ConvertedTotal: null
          FinancialEventGroupId: FinancialEventGroupId
          TraceId: TraceId
          FundTransferDate: 2000-01-23T04:56:07.000+00:00
          FinancialEventGroupEnd: null
          FundTransferStatus: FundTransferStatus
          ProcessingStatus: ProcessingStatus
          FinancialEventGroupStart: null
          BeginningBalance: null
        - OriginalTotal:
            CurrencyCode: CurrencyCode
            CurrencyAmount: 0.8008281904610115
          AccountTail: AccountTail
          ConvertedTotal: null
          FinancialEventGroupId: FinancialEventGroupId
          TraceId: TraceId
          FundTransferDate: 2000-01-23T04:56:07.000+00:00
          FinancialEventGroupEnd: null
          FundTransferStatus: FundTransferStatus
          ProcessingStatus: ProcessingStatus
          FinancialEventGroupStart: null
          BeginningBalance: null
    ListFinancialEventGroupsResponse:
      type: object
      properties:
        payload:
          $ref: '#/components/schemas/ListFinancialEventGroupsPayload'
        errors:
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the listFinancialEventGroups operation.
      example:
        payload:
          NextToken: NextToken
          FinancialEventGroupList:
          - OriginalTotal:
              CurrencyCode: CurrencyCode
              CurrencyAmount: 0.8008281904610115
            AccountTail: AccountTail
            ConvertedTotal: null
            FinancialEventGroupId: FinancialEventGroupId
            TraceId: TraceId
            FundTransferDate: 2000-01-23T04:56:07.000+00:00
            FinancialEventGroupEnd: null
            FundTransferStatus: FundTransferStatus
            ProcessingStatus: ProcessingStatus
            FinancialEventGroupStart: null
            BeginningBalance: null
          - OriginalTotal:
              CurrencyCode: CurrencyCode
              CurrencyAmount: 0.8008281904610115
            AccountTail: AccountTail
            ConvertedTotal: null
            FinancialEventGroupId: FinancialEventGroupId
            TraceId: TraceId
            FundTransferDate: 2000-01-23T04:56:07.000+00:00
            FinancialEventGroupEnd: null
            FundTransferStatus: FundTransferStatus
            ProcessingStatus: ProcessingStatus
[...]
