openapi: 3.0.1
info:
  title: Selling Partner API for Shipping
  description: |-
    Provides programmatic access to Amazon Shipping APIs.

     **Note:** If you are new to the Amazon Shipping API, refer to the latest version of <a href="https://developer-docs.amazon.com/amazon-shipping/docs/shipping-api-v2-reference">Amazon Shipping API (v2)</a> on the <a href="https://developer-docs.amazon.com/amazon-shipping/">Amazon Shipping Developer Documentation</a> site.
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v1
servers:
- url: https://sellingpartnerapi-na.amazon.com/
paths:
  /shipping/v1/shipments:
    post:
      tags:
      - shipping
      description: |-
        Create a new shipment.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
      operationId: createShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentRequest'
        required: true
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
              example:
                shipmentId: "89108749065090"
                eligibleRates:
                - billedWeight:
                    value: 4
                    unit: kg
                  totalCharge:
                    value: 3.25
                    unit: GBP
                  serviceType: Amazon Shipping Standard
                  promise:
                    deliveryWindow:
                      start: 2018-08-25T20:22:30.737Z
                      end: 2018-08-26T20:22:30.737Z
                    receiveWindow:
                      start: 2018-08-23T09:22:30.737Z
                      end: 2018-08-23T11:22:30.737Z
                  rateId: RI123456
                  expirationTime: 2018-08-22T09:22:30.737Z
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_200
              response:
                payload:
                  shipmentId: TEST_CASE_200
                  eligibleRates:
                  - billedWeight:
                      value: 4
                      unit: kg
                    totalCharge:
                      value: 3.25
                      unit: GBP
                    serviceType: Amazon Shipping Standard
                    promise:
                      deliveryWindow:
                        start: 2018-08-25T20:22:30.737Z
                        end: 2018-08-26T20:22:30.737Z
                      receiveWindow:
                        start: 2018-08-23T09:22:30.737Z
                        end: 2018-08-23T11:22:30.737Z
                    rateId: RI123456
                    expirationTime: 2018-08-22T09:22:30.737Z
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid input.
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_401
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_403
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_404
              response:
                errors:
                - code: NotFound
                  message: The requested resource doesn't exist.
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_429
              response:
                errors:
                - code: QuotaExceeded
                  message: You exceeded your quota for the requested resource.
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_500
              response:
                errors:
                - code: InternalFailure
                  message: We encountered an internal error. Please try again.
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_503
              response:
                errors:
                - code: ServiceUnavailable
                  message: Service is temporarily unavailable. Please try again.
      x-codegen-request-body-name: body
  /shipping/v1/shipments/{shipmentId}:
    get:
      tags:
      - shipping
      description: |-
        Return the entire shipment object for the shipmentId.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: getShipment
      parameters:
      - name: shipmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
              example:
                shipmentId: "89108749065090"
                clientReferenceId: 911-7267646-6348616
                shipFrom: {}
                shipTo: {}
                acceptedRate:
                  billedWeight:
                    value: 4
                    unit: kg
                  totalCharge:
                    value: 3.5
                    unit: GBP
                  serviceType: Amazon Shipping Standard
                  promise:
                    deliveryWindow:
                      start: 2018-08-25T20:22:30.737Z
                      end: 2018-08-26T20:22:30.737Z
                    receiveWindow:
                      start: 2018-08-23T09:22:30.737Z
                      end: 2018-08-23T11:22:30.737Z
                shipper:
                  accountId: "2755049166"
                containers:
                - containerReferenceId: CRI123456789
                  items:
                  - title: String
                    unitWeight:
                      value: 0.08164656
                      unit: kg
                    quantity: 2
                    unitPrice:
                      value: 14.99
                      unit: GBP
                  dimensions:
                    height: 12.0
                    length: 36.0
                    width: 31.0
                    unit: CM
                  containerType: PACKAGE
                  weight:
                    unit: kg
                    value: 4
                  value:
                    value: 29.98
                    unit: GBP
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_200
              response:
                payload:
                  shipmentId: TEST_CASE_200
                  clientReferenceId: 911-7267646-6348616
                  shipFrom: {}
                  shipTo: {}
                  acceptedRate:
                    billedWeight:
                      value: 4
                      unit: kg
                    totalCharge:
                      value: 3.5
                      unit: GBP
                    serviceType: Amazon Shipping Standard
                    promise:
                      deliveryWindow:
                        start: 2018-08-25T20:22:30.737Z
                        end: 2018-08-26T20:22:30.737Z
                      receiveWindow:
                        start: 2018-08-23T09:22:30.737Z
                        end: 2018-08-23T11:22:30.737Z
                  shipper:
                    accountId: "2755049166"
                  containers:
                  - containerReferenceId: CRI123456789
                    items:
                    - title: String
                      unitWeight:
                        value: 0.08164656
                        unit: kg
                      quantity: 2
                      unitPrice:
                        value: 14.99
                        unit: GBP
                    dimensions:
                      height: 12.0
                      length: 36.0
                      width: 31.0
                      unit: CM
                    containerType: PACKAGE
                    weight:
                      unit: kg
                      value: 4
                    value:
                      value: 29.98
                      unit: GBP
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid input.
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_401
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_403
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_404
              response:
                errors:
                - code: NotFound
                  message: The requested resource doesn't exist.
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_429
              response:
                errors:
                - code: QuotaExceeded
                  message: You exceeded your quota for the requested resource.
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_500
              response:
                errors:
                - code: InternalFailure
                  message: We encountered an internal error. Please try again.
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_503
              response:
                errors:
                - code: ServiceUnavailable
                  message: Service is temporarily unavailable. Please try again.
  /shipping/v1/shipments/{shipmentId}/cancel:
    post:
      tags:
      - shipping
      description: |-
        Cancel a shipment by the given shipmentId.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: cancelShipment
      parameters:
      - name: shipmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_200
              response: {}
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid input.
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_401
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_403
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_404
              response:
                errors:
                - code: NotFound
                  message: The requested resource doesn't exist.
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_429
              response:
                errors:
                - code: QuotaExceeded
                  message: You exceeded your quota for the requested resource.
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_500
              response:
                errors:
                - code: InternalFailure
                  message: We encountered an internal error. Please try again.
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelShipmentResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_503
              response:
                errors:
                - code: ServiceUnavailable
                  message: Service is temporarily unavailable. Please try again.
  /shipping/v1/shipments/{shipmentId}/purchaseLabels:
    post:
      tags:
      - shipping
      description: |-
        Purchase shipping labels based on a given rate.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: purchaseLabels
      parameters:
      - name: shipmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseLabelsRequest'
        required: true
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
              example:
                shipmentId: "89108749065090"
                clientReferenceId: 911-7267646-6348616
                acceptedRate:
                  billedWeight:
                    value: 4
                    unit: kg
                  totalCharge:
                    value: 3.5
                    unit: GBP
                  serviceType: Amazon Shipping Standard
                  promise:
                    deliveryWindow:
                      start: 2018-08-25T20:22:30.737Z
                      end: 2018-08-26T20:22:30.737Z
                    receiveWindow:
                      start: 2018-08-23T09:22:30.737Z
                      end: 2018-08-23T11:22:30.737Z
                labelResults:
                - containerReferenceId: CRI123456789
                  trackingId: "1512748795322"
                  label:
                    labelStream: iVBORw0KGgo...AAAARK5CYII=(Truncated)
                    labelSpecification:
                      labelFormat: PNG
                      labelStockSize: 4x6
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_200
              response:
                payload:
                  shipmentId: TEST_CASE_200
                  clientReferenceId: 911-7267646-6348616
                  acceptedRate:
                    billedWeight:
                      value: 4
                      unit: kg
                    totalCharge:
                      value: 3.5
                      unit: GBP
                    serviceType: Amazon Shipping Standard
                    promise:
                      deliveryWindow:
                        start: 2018-08-25T20:22:30.737Z
                        end: 2018-08-26T20:22:30.737Z
                      receiveWindow:
                        start: 2018-08-23T09:22:30.737Z
                        end: 2018-08-23T11:22:30.737Z
                  labelResults:
                  - containerReferenceId: CRI123456789
                    trackingId: "1512748795322"
                    label:
                      labelStream: iVBORw0KGgo...AAAARK5CYII=(Truncated)
                      labelSpecification:
                        labelFormat: PNG
                        labelStockSize: 4x6
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid input.
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_401
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_403
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_404
              response:
                errors:
                - code: NotFound
                  message: The requested resource doesn't exist.
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_429
              response:
                errors:
                - code: QuotaExceeded
                  message: You exceeded your quota for the requested resource.
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_500
              response:
                errors:
                - code: InternalFailure
                  message: We encountered an internal error. Please try again.
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseLabelsResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_503
              response:
                errors:
                - code: ServiceUnavailable
                  message: Service is temporarily unavailable. Please try again.
      x-codegen-request-body-name: body
  /shipping/v1/shipments/{shipmentId}/containers/{trackingId}/label:
    post:
      tags:
      - shipping
      description: |-
        Retrieve shipping label based on the shipment id and tracking id.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: retrieveShippingLabel
      parameters:
      - name: shipmentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: trackingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveShippingLabelRequest'
        required: true
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
              example:
                labelStream: iVBORw0KGgo...AAAARK5CYII=(Truncated)
                labelSpecification:
                  labelFormat: PNG
                  labelStockSize: 4x6
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_200
              response:
                payload:
                  labelStream: iVBORw0KGgo...AAAARK5CYII=(Truncated)
                  labelSpecification:
                    labelFormat: PNG
                    labelStockSize: 4x6
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid input.
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_401
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_403
              response:
                errors:
                - code: Unauthorized
                  message: Access to requested resource is denied.
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_404
              response:
                errors:
                - code: NotFound
                  message: The requested resource doesn't exist.
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_429
              response:
                errors:
                - code: QuotaExceeded
                  message: You exceeded your quota for the requested resource.
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_500
              response:
                errors:
                - code: InternalFailure
                  message: We encountered an internal error. Please try again.
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveShippingLabelResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  shipmentId:
                    value: TEST_CASE_503
              response:
                errors:
                - code: ServiceUnavailable
                  message: Service is temporarily unavailable. Please try again.
      x-codegen-request-body-name: body
  /shipping/v1/purchaseShipment:
    post:
      tags:
      - shipping
      description: |-
        Purchase shipping labels.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: purchaseShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseShipmentRequest'
        required: true
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
              example:
                shipmentId: "89108749065090"
                serviceRate:
                  billableWeight:
                    value: 4
                    unit: kg
                  totalCharge:
                    value: 3.5
                    unit: GBP
                  serviceType: Amazon Shipping Standard
                  promise:
                    deliveryWindow:
                      start: 2018-08-25T20:22:30.737Z
                      end: 2018-08-26T20:22:30.737Z
                    receiveWindow:
                      start: 2018-08-23T09:22:30.737Z
                      end: 2018-08-23T11:22:30.737Z
                labelResults:
                - containerReferenceId: CRI123456789
                  trackingId: "1512748795322"
                  label:
                    labelStream: iVBORw0KGgo...AAAARK5CYII=(Truncated)
                    labelSpecification:
                      labelFormat: PNG
                      labelStockSize: 4x6
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      clientReferenceId: TEST_CASE_200
              response:
                payload:
                  shipmentId: TEST_CASE_200
                  serviceRate:
                    billableWeight:
                      value: 4
                      unit: kg
                    totalCharge:
                      value: 3.5
                      unit: GBP
                    serviceType: Amazon Shipping Standard
                    promise:
                      deliveryWindow:
                        start: 2018-08-25T20:22:30.737Z
                        end: 2018-08-26T20:22:30.737Z
                      receiveWindow:
                        start: 2018-08-23T09:22:30.737Z
                        end: 2018-08-23T11:22:30.737Z
                  labelResults:
                  - containerReferenceId: CRI123456789
                    trackingId: "1512748795322"
                    label:
                      labelStream: iVBORw0KGgo...AAAARK5CYII=(Truncated)
                      labelSpecification:
                        labelFormat: PNG
                        labelStockSize: 4x6
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseShipmentResponse'
      x-codegen-request-body-name: body
  /shipping/v1/rates:
    post:
      tags:
      - shipping
      description: |-
        Get service rates.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: getRates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRatesRequest'
        required: true
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
              example:
                serviceRates:
                - billableWeight:
                    value: 4
                    unit: kg
                  totalCharge:
                    value: 3.25
                    unit: GBP
                  serviceType: Amazon Shipping Standard
                  promise:
                    deliveryWindow:
                      start: 2018-08-25T20:22:30.737Z
                      end: 2018-08-26T20:22:30.737Z
                    receiveWindow:
                      start: 2018-08-23T09:22:30.737Z
                      end: 2018-08-23T11:22:30.737Z
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  serviceRates:
                  - billableWeight:
                      value: 4
                      unit: kg
                    totalCharge:
                      value: 3.25
                      unit: GBP
                    serviceType: Amazon Shipping Standard
                    promise:
                      deliveryWindow:
                        start: 2018-08-25T20:22:30.737Z
                        end: 2018-08-26T20:22:30.737Z
                      receiveWindow:
                        start: 2018-08-23T09:22:30.737Z
                        end: 2018-08-23T11:22:30.737Z
        "400":
          description: Request is missing or has invalid parameters and cannot be
            parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatesResponse'
      x-codegen-request-body-name: body
  /shipping/v1/account:
    get:
      tags:
      - shipping
      description: |-
        Verify if the current account is valid.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 15 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: getAccount
      responses:
        "200":
          description: The account was valid.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
              example:
                accountId: "2755049166"
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  accountId: "2755049166"
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
  /shipping/v1/tracking/{trackingId}:
    get:
      tags:
      - shipping
      description: |-
        Return the tracking information of a shipment.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 1 | 1 |

        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation.
      operationId: getTrackingInformation
      parameters:
      - name: trackingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
              example:
                trackingId: "89108749065090"
                eventHistory:
                - eventCode: Delivered
                  location:
                    city: San Bernardino
                    countryCode: US
                    stateOrRegion: CA
                    postalCode: "92404"
                  eventTime: 2019-04-04T06:45:12Z
                promisedDeliveryDate: 2019-04-04T07:05:06Z
                summary:
                  status: Delivered
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  trackingId:
                    value: TEST_CASE_200
              response:
                payload:
                  trackingId: TEST_CASE_200
                  eventHistory:
                  - eventCode: Delivered
                    location:
                      city: San Bernardino
                      countryCode: US
                      stateOrRegion: CA
                      postalCode: "92404"
                    eventTime: 2019-04-04T06:45:12Z
                  promisedDeliveryDate: 2019-04-04T07:05:06Z
                  summary:
                    status: Delivered
        "400":
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  trackingId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
        "401":
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
        "403":
          description: "403 can be caused for reasons like Access Denied, Unauthorized,\
            \ Expired Token, Invalid Signature or Resource Not Found."
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
        "404":
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
        "429":
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
        "500":
          description: Encountered an unexpected condition which prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
        "503":
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference id.
              style: simple
              explode: false
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: |-
                Your rate limit (requests per second) for this operation.
                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingInformationResponse'
components:
  schemas:
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code that identifies the type of error that occured.
        message:
          type: string
          description: A message that describes the error condition in a human-readable
            form.
        details:
          type: string
          description: Additional details that can help the caller understand or fix
            the issue.
      description: Error response returned when the request is unsuccessful.
      example:
        code: code
        details: details
        message: message
    ErrorList:
      type: array
      description: A list of error responses returned when a request is unsuccessful.
      items:
        $ref: '#/components/schemas/Error'
      x-schema-name: ErrorList
    AccountId:
      maxLength: 10
      type: string
      description: This is the Amazon Shipping account id generated during the Amazon
        Shipping onboarding process.
    ShipmentId:
      type: string
      description: The unique shipment identifier.
    ClientReferenceId:
      maxLength: 40
      type: string
      description: Client reference id.
    ContainerReferenceId:
      maxLength: 40
      type: string
      description: An identifier for the container. This must be unique within all
        the containers in the same shipment.
    EventCode:
      maxLength: 60
      minLength: 1
      type: string
      description: "The event code of a shipment, such as Departed, Received, and\
        \ ReadyForReceive."
    StateOrRegion:
      type: string
      description: "The state or region where the person, business or institution\
        \ is located."
    City:
      maxLength: 50
      minLength: 1
      type: string
      description: "The city where the person, business or institution is located."
    CountryCode:
      maxLength: 2
      minLength: 2
      type: string
      description: The two digit country code. In ISO 3166-1 alpha-2 format.
    PostalCode:
      maxLength: 20
      minLength: 1
      type: string
      description: "The postal code of that address. It contains a series of letters\
        \ or digits or both, sometimes including spaces or punctuation."
    Location:
      type: object
      properties:
        stateOrRegion:
          $ref: '#/components/schemas/StateOrRegion'
        city:
          $ref: '#/components/schemas/City'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        postalCode:
          $ref: '#/components/schemas/PostalCode'
      description: "The location where the person, business or institution is located."
      example:
        stateOrRegion: stateOrRegion
        city: city
        countryCode: countryCode
        postalCode: postalCode
    Event:
      required:
      - eventCode
      - eventTime
      type: object
      properties:
        eventCode:
          $ref: '#/components/schemas/EventCode'
        eventTime:
          type: string
          description: The date and time of an event for a shipment.
          format: date-time
        location:
          $ref: '#/components/schemas/Location'
      description: An event of a shipment
      example:
        eventCode: eventCode
        eventTime: 2000-01-23T04:56:07.000+00:00
        location:
          stateOrRegion: stateOrRegion
          city: city
          countryCode: countryCode
          postalCode: postalCode
    EventList:
      type: array
      description: A list of events of a shipment.
      items:
        $ref: '#/components/schemas/Event'
      x-schema-name: EventList
    TrackingId:
      maxLength: 60
      minLength: 1
      type: string
      description: The tracking id generated to each shipment. It contains a series
        of letters or digits or both.
    TrackingSummary:
      type: object
      properties:
        status:
          maxLength: 60
          minLength: 1
          type: string
          description: The derived status based on the events in the eventHistory.
      description: The tracking summary.
      example:
        status: status
    PromisedDeliveryDate:
      type: string
      description: The promised delivery date and time of a shipment.
      format: date-time
    Address:
      required:
      - addressLine1
      - city
      - countryCode
      - name
      - postalCode
      - stateOrRegion
      type: object
      properties:
        name:
          maxLength: 50
          minLength: 1
          type: string
          description: "The name of the person, business or institution at that address."
        addressLine1:
          maxLength: 60
          minLength: 1
          type: string
          description: First line of that address.
        addressLine2:
          maxLength: 60
          minLength: 1
          type: string
          description: "Additional address information, if required."
        addressLine3:
          maxLength: 60
          minLength: 1
          type: string
          description: "Additional address information, if required."
        stateOrRegion:
          $ref: '#/components/schemas/StateOrRegion'
        city:
          $ref: '#/components/schemas/City'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        postalCode:
          $ref: '#/components/schemas/PostalCode'
        email:
          maxLength: 64
          type: string
          description: The email address of the contact associated with the address.
        copyEmails:
          maxItems: 2
          type: array
          description: The email cc addresses of the contact associated with the address.
          items:
            maxLength: 64
            type: string
        phoneNumber:
          maxLength: 20
          minLength: 1
          type: string
          description: "The phone number of the person, business or institution located\
            \ at that address."
      description: The address.
      example:
        stateOrRegion: stateOrRegion
        phoneNumber: phoneNumber
        city: city
        countryCode: countryCode
        postalCode: postalCode
        name: name
        copyEmails:
        - copyEmails
        - copyEmails
        addressLine1: addressLine1
        addressLine2: addressLine2
        addressLine3: addressLine3
        email: email
    TimeRange:
      type: object
      properties:
        start:
          type: string
          description: The start date and time. This defaults to the current date
            and time.
          format: date-time
        end:
          type: string
          description: The end date and time. This must come after the value of start.
            This defaults to the next business day from the start.
          format: date-time
      description: The time range.
      example:
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
    ShippingPromiseSet:
      type: object
      properties:
        deliveryWindow:
          $ref: '#/components/schemas/TimeRange'
        receiveWindow:
          $ref: '#/components/schemas/TimeRange'
      description: The promised delivery time and pickup time.
      example:
        deliveryWindow:
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
        receiveWindow: null
    ServiceType:
      type: string
      description: The type of shipping service that will be used for the service
        offering.
      enum:
      - Amazon Shipping Ground
      - Amazon Shipping Standard
      - Amazon Shipping Premium
      x-docgen-enum-table-extension:
      - value: Amazon Shipping Ground
        description: Amazon Shipping Ground.
      - value: Amazon Shipping Standard
        description: Amazon Shipping Standard.
      - value: Amazon Shipping Premium
        description: Amazon Shipping Premium.
    ServiceTypeList:
      type: array
      description: A list of service types that can be used to send the shipment.
      items:
        $ref: '#/components/schemas/ServiceType'
      x-schema-name: ServiceTypeList
    Rate:
      type: object
      properties:
        rateId:
          type: string
          description: An identifier for the rate.
        totalCharge:
          $ref: '#/components/schemas/Currency'
        billedWeight:
          $ref: '#/components/schemas/Weight'
        expirationTime:
          type: string
          description: The time after which the offering will expire.
          format: date-time
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        promise:
          $ref: '#/components/schemas/ShippingPromiseSet'
      description: The available rate that can be used to send the shipment
      example:
        serviceType: Amazon Shipping Ground
        totalCharge:
          unit: unit
          value: 0.8008281904610115
        expirationTime: 2000-01-23T04:56:07.000+00:00
        promise:
          deliveryWindow:
            start: 2000-01-23T04:56:07.000+00:00
            end: 2000-01-23T04:56:07.000+00:00
          receiveWindow: null
        billedWeight:
          unit: g
          value: 6.027456183070403
        rateId: rateId
    RateList:
      type: array
      description: A list of all the available rates that can be used to send the
        shipment.
      items:
        $ref: '#/components/schemas/Rate'
      x-schema-name: RateList
    RateId:
      type: string
      description: An identifier for the rating.
    AcceptedRate:
      type: object
      properties:
        totalCharge:
          $ref: '#/components/schemas/Currency'
        billedWeight:
          $ref: '#/components/schemas/Weight'
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        promise:
          $ref: '#/components/schemas/ShippingPromiseSet'
      description: "The specific rate purchased for the shipment, or null if unpurchased."
      example:
        serviceType: Amazon Shipping Ground
        totalCharge:
          unit: unit
          value: 0.8008281904610115
        promise:
          deliveryWindow:
            start: 2000-01-23T04:56:07.000+00:00
            end: 2000-01-23T04:56:07.000+00:00
          receiveWindow: null
        billedWeight:
          unit: g
          value: 6.027456183070403
    ServiceRate:
      required:
      - billableWeight
      - promise
      - serviceType
      - totalCharge
      type: object
      properties:
        totalCharge:
          $ref: '#/components/schemas/Currency'
        billableWeight:
          $ref: '#/components/schemas/Weight'
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        promise:
          $ref: '#/components/schemas/ShippingPromiseSet'
      description: "The specific rate for a shipping service, or null if no service\
        \ available."
      example:
        serviceType: Amazon Shipping Ground
        totalCharge:
          unit: unit
          value: 0.8008281904610115
        promise:
          deliveryWindow:
            start: 2000-01-23T04:56:07.000+00:00
            end: 2000-01-23T04:56:07.000+00:00
          receiveWindow: null
        billableWeight:
          unit: g
          value: 6.027456183070403
    ServiceRateList:
      type: array
      description: A list of service rates.
      items:
        $ref: '#/components/schemas/ServiceRate'
      x-schema-name: ServiceRateList
    Party:
      type: object
      properties:
        accountId:
          $ref: '#/components/schemas/AccountId'
      description: The account related with the shipment.
      example:
        accountId: accountId
    Currency:
      required:
      - unit
      - value
      type: object
      properties:
        value:
          type: number
          description: The amount of currency.
        unit:
          maxLength: 3
          minLength: 3
          type: string
          description: A 3-character currency code.
      description: The total value of all items in the container.
      example:
        unit: unit
        value: 0.8008281904610115
    Dimensions:
      required:
      - height
      - length
      - unit
      - width
      type: object
      properties:
        length:
          type: number
          description: The length of the container.
        width:
          type: number
          description: The width of the container.
        height:
          type: number
          description: The height of the container.
        unit:
          type: string
          description: The unit of these measurements.
          enum:
          - IN
          - CM
          x-docgen-enum-table-extension:
          - value: IN
            description: Inches
          - value: CM
            description: Centimeters
      description: A set of measurements for a three-dimensional object.
      example:
        unit: IN
        length: 0.8008281904610115
        width: 6.027456183070403
        height: 1.4658129805029452
    Weight:
      required:
      - unit
      - value
      type: object
      properties:
        unit:
          type: string
          description: The unit of measurement.
          enum:
          - g
          - kg
          - oz
          - lb
          x-docgen-enum-table-extension:
          - value: g
            description: Grams
          - value: kg
            description: Kilograms
          - value: oz
            description: Ounces
          - value: lb
            description: Pounds
        value:
          type: number
          description: The measurement value.
      description: The weight.
      example:
        unit: g
        value: 6.027456183070403
    ContainerItem:
      required:
      - quantity
      - title
      - unitPrice
      - unitWeight
      type: object
      properties:
        quantity:
          type: number
          description: The quantity of the items of this type in the container.
        unitPrice:
          $ref: '#/components/schemas/Currency'
        unitWeight:
          $ref: '#/components/schemas/Weight'
        title:
          maxLength: 30
          type: string
          description: A descriptive title of the item.
      description: Item in the container.
      example:
        unitPrice: null
        unitWeight: null
        quantity: 5.962133916683182
        title: title
    Container:
      required:
      - containerReferenceId
      - dimensions
      - items
      - value
      - weight
      type: object
      properties:
        containerType:
          type: string
          description: The type of physical container being used. (always 'PACKAGE')
          enum:
          - PACKAGE
          x-docgen-enum-table-extension:
          - value: PACKAGE
            description: PACKAGE
        containerReferenceId:
          $ref: '#/components/schemas/ContainerReferenceId'
        value:
          $ref: '#/components/schemas/Currency'
        dimensions:
          $ref: '#/components/schemas/Dimensions'
        items:
          type: array
          description: A list of the items in the container.
          items:
            $ref: '#/components/schemas/ContainerItem'
        weight:
          $ref: '#/components/schemas/Weight'
      description: Container in the shipment.
      example:
        containerType: PACKAGE
        containerReferenceId: containerReferenceId
        weight: null
[...]
